venv/*
venn/

tts_out/*
tts_out/

tts_out_tel/*
tts_out_tel/

tts_log_tel/*
tts_log_tel/

tts_log/*
tts_log

logs/*
logs/

__pycache__/
text/__pycache__/

# python train.py --output_directory=tts_out_tel/ --log_directory=tts_log_tel/ -checkpoint_path=tts_out_tel/checkpoint_0
# python train.py --output_directory=tory=tts_log/ --checkpoint_path=tts_out/checkpoint_357500
